In [11]:
import pandas_datareader as pdr
import matplotlib.pyplot as plt

In [3]:
# 获取 alibaba 股票信息
alibaba = pdr.get_data_yahoo('BABA')

In [8]:
alibaba.shape

(1066, 6)

In [14]:
alibaba.describe() # 基本统计信息

,High,Low,Open,Close,Volume,Adj Close
count,1066.000000,1066.000000,1066.000000,1066.000000,1.066000e+03,1066.000000
mean,120.870860,117.875836,119.501537,119.364718,1.776522e+07,119.364718
std,44.196441,43.120785,43.760117,43.656629,1.318460e+07,43.656629
min,58.650002,57.200001,57.299999,57.389999,3.775300e+06,57.389999
25%,83.772499,82.105000,83.087502,83.105000,1.101285e+07,83.105000
50%,103.900002,101.724998,102.760002,102.809998,1.485695e+07,102.809998
75%,168.000000,164.077503,166.069996,165.239994,2.065440e+07,165.239994
max,211.699997,207.509995,209.949997,210.860001,2.718794e+08,210.860001

In [15]:
alibaba.info() # 基本统计信息

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1066 entries, 2014-09-19 to 2018-12-12
Data columns (total 6 columns):
High         1066 non-null float64
Low          1066 non-null float64
Open         1066 non-null float64
Close        1066 non-null float64
Volume       1066 non-null int64
Adj Close    1066 non-null float64
dtypes: float64(5), int64(1)
memory usage: 58.3 KB