# Reindexing Series&DataFrame

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Series reindex

In [3]:
s1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
s1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
# 按住 Shift + Tab 可以查看帮助
s1.reindex(index=['A', 'B', 'C', 'D', 'E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [9]:
s1.reindex(index=['A', 'B', 'C', 'D', 'E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [28]:
s2 = pd.Series(['A', 'B', 'C'], index=[1, 3, 5])
s2

1    A
3    B
5    C
dtype: object

In [30]:
s2.reindex(index=range(7))

0    NaN
1      A
2    NaN
3      B
4    NaN
5      C
6    NaN
dtype: object

In [31]:
#  method='ffill' 表示根据已有的值自动填充为 NaN 的值
s2.reindex(index=range(7), method='ffill')

0    NaN
1      A
2      A
3      B
4      B
5      C
6      C
dtype: object

## DataFrame reindex

In [21]:
df1 = pd.DataFrame(np.random.rand(25).reshape([5, 5]), index=['A', 'B', 'D', 'E', 'F'], columns=['c1', 'c2', 'c3', 'c4', 'c5'])
df1

         c1        c2        c3        c4        c5
A  0.919411  0.238651  0.088673  0.830227  0.284514
B  0.334756  0.652239  0.913840  0.053076  0.375364
D  0.811720  0.760921  0.860246  0.727191  0.009915
E  0.282364  0.246554  0.743932  0.445262  0.339246
F  0.438870  0.930862  0.817973  0.861525  0.550942

In [22]:
df1.reindex(index=[['A', 'B', 'C', 'D', 'E']], columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6'])

   c1  c2  c3  c4  c5  c6
A NaN NaN NaN NaN NaN NaN
B NaN NaN NaN NaN NaN NaN
C NaN NaN NaN NaN NaN NaN
D NaN NaN NaN NaN NaN NaN
E NaN NaN NaN NaN NaN NaN

In [23]:
s1.reindex(index=['C', 'D'])

C    3
D    4
dtype: int64

In [24]:
df1.reindex(index=['A', 'B'])

         c1        c2        c3        c4        c5
A  0.919411  0.238651  0.088673  0.830227  0.284514
B  0.334756  0.652239  0.913840  0.053076  0.375364

In [25]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [27]:
# axis 表示行和列
# 0 表示行
# 1 表示列
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B  0.334756  0.652239  0.913840  0.053076  0.375364
D  0.811720  0.760921  0.860246  0.727191  0.009915
E  0.282364  0.246554  0.743932  0.445262  0.339246
F  0.438870  0.930862  0.817973  0.861525  0.550942