# Series 和 DataFrame 的简单数学运算

In [17]:
import numpy as np
import pandas as pd

## Series 的数学运算

In [8]:
s1 = pd.Series([1, 2, 3], index=['A', 'B', 'C'])
s2 = pd.Series([4, 5, 6, 7], index=['B','C', 'D', 'E'])

In [9]:
# Series 的运算为对应 index 的值的运算的集合
s1 + s2

A    NaN
B    6.0
C    8.0
D    NaN
E    NaN
dtype: float64

## DataFrame 的数学运算

In [25]:
df1 = pd.DataFrame(np.arange(4).reshape(2, 2), index=['A', 'B'], columns=['BJ', 'SH'])
df2 = pd.DataFrame(np.arange(9).reshape(3, 3), index=['A', 'B', 'C'], columns=['BJ', 'SH', 'GZ'])

In [28]:
# DataFrame 的运算为对应 元素 的值的运算的集合
df1 + df2

    BJ  GZ   SH
A  0.0 NaN  2.0
B  5.0 NaN  7.0
C  NaN NaN  NaN

In [29]:
df3 = pd.DataFrame([[1, 2, 3], [4, 5, np.nan], [7, 8, 9]], index=['A', 'B', 'C'], columns=['c1', 'c2', 'c3'])
df3

   c1  c2   c3
A   1   2  3.0
B   4   5  NaN
C   7   8  9.0

In [32]:
# 计算每一列的和（NaN 会被忽略）放回一个 Series
df3.sum() # axis=1 参数可以求每一行的值

A     6.0
B     9.0
C    24.0
dtype: float64

In [35]:
# 计算每一列的最小值（NaN 会被忽略）放回一个 Series
df3.min() # axis=1 参数可以求每一行的值
# 计算每一列的最大值（NaN 会被忽略）放回一个 Series
df3.max() # axis=1 参数可以求每一行的值

c1    1.0
c2    2.0
c3    3.0
dtype: float64

In [36]:
# 统计 参考 https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html
df3.describe()

        c1   c2        c3
count  3.0  3.0  2.000000
mean   4.0  5.0  6.000000
std    3.0  3.0  4.242641
min    1.0  2.0  3.000000
25%    2.5  3.5  4.500000
50%    4.0  5.0  6.000000
75%    5.5  6.5  7.500000
max    7.0  8.0  9.000000