# Mapping&Replace

In [2]:
import numpy as np
import pandas as pd

In [20]:
df1 = pd.DataFrame({'城市': ['北京', '上海', '广州'], '人口': [1000, 2000, 1500]}, index=['A', 'B', 'C'])
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [21]:
df1['GDP'] = pd.Series([1000, 2000, 1500])
df1

   城市    人口  GDP
A  北京  1000  NaN
B  上海  2000  NaN
C  广州  1500  NaN

In [22]:
gdp_map = {'北京': 1100, '上海': 2100, '广州': 1600}
df1['GDP'] = df1['城市'].map(gdp_map)
df1

   城市    人口   GDP
A  北京  1000  1100
B  上海  2000  2100
C  广州  1500  1600

In [23]:
df1['GDP'] = pd.Series([1000, 2000, 1500], index=['A', 'B', 'C'])
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500

## Replace in Series

In [25]:
s1 = pd.Series(np.arange(5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [26]:
s1.replace(1, np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
dtype: float64

In [27]:
s1.replace([1, 2, 3], [10, 20, 30])

0     0
1    10
2    20
3    30
4     4
dtype: int64