# pandas 中的 DataFrame

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## 创建 DataFrame

In [4]:
# 通过 webbrowser 打开一个网页
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link) # 打开一个网页

True

In [13]:
# 通过 粘贴板 导入
# 先复制一个表格（此处为 https://www.tiobe.com/tiobe-index/ 中的编程语言排行榜）
df = pd.read_clipboard() # 读取粘贴板并解析，再转换为一个 DataFrame （此处一定要先复制表格后执行）
df

   Dec 2018  Dec 2017  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  15.932%   +2.66%
1         2         2     NaN                    C  14.282%   +4.12%
2         3         4  change               Python   8.376%   +4.60%
3         4         3  change                  C++   7.562%   +2.84%
4         5         7  change    Visual Basic .NET   7.127%   +4.66%

In [14]:
# 查看 df 的数据类型
type(df)

pandas.core.frame.DataFrame

## 读取 DataFrame 的属性

In [15]:
# 读取 DataFrame 的列名
df.columns

Index(['Dec 2018', 'Dec 2017', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [16]:
# 获取莫一列的值
df.Ratings # 列名

0    15.932%
1    14.282%
2     8.376%
3     7.562%
4     7.127%
Name: Ratings, dtype: object

In [18]:
# 数据过滤
df_new = pd.DataFrame(df, columns=[ 'Programming Language', 'Dec 2018' ] )
df_new

  Programming Language  Dec 2018
0                 Java         1
1                    C         2
2               Python         3
3                  C++         4
4    Visual Basic .NET         5

In [21]:
df['Programming Language']

0                 Java
1                    C
2               Python
3                  C++
4    Visual Basic .NET
Name: Programming Language, dtype: object

In [22]:
# 放回的类型为 Series
type(df['Programming Language'])

pandas.core.series.Series

In [24]:
# 当通过之前的 DataFrame 生成新的 DataFrame 且有一列在 原 DataFrame 不存在时（此处为 'Dec 2019'）
df_new = pd.DataFrame(df, columns=[ 'Programming Language', 'Dec 2018', 'Dec 2019' ] )
df_new

  Programming Language  Dec 2018  Dec 2019
0                 Java         1       NaN
1                    C         2       NaN
2               Python         3       NaN
3                  C++         4       NaN
4    Visual Basic .NET         5       NaN

In [28]:
# 修改 DataFrame 列的值 方法一 通过 list 修改
df_new['Dec 2019'] = range(0, 5)
df_new

  Programming Language  Dec 2018  Dec 2019
0                 Java         1         0
1                    C         2         1
2               Python         3         2
3                  C++         4         3
4    Visual Basic .NET         5         4

In [29]:
# 修改 DataFrame 列的值 方法二 通过 array 修改
df_new['Dec 2019'] = np.arange(0, 5)
df_new

  Programming Language  Dec 2018  Dec 2019
0                 Java         1         0
1                    C         2         1
2               Python         3         2
3                  C++         4         3
4    Visual Basic .NET         5         4

In [30]:
# 修改 DataFrame 列的值 方法三 通过 Sreies 修改
df_new['Dec 2019'] = pd.Series(np.arange(0, 5))
df_new

  Programming Language  Dec 2018  Dec 2019
0                 Java         1         0
1                    C         2         1
2               Python         3         2
3                  C++         4         3
4    Visual Basic .NET         5         4

In [31]:
# 修改 DataFrame 列的指定行值 方法四 通过 Sreies 指定 index 修改(为指定的行默认为 NaN)
df_new['Dec 2019'] = pd.Series([100, 200], index=[1, 2])
df_new

  Programming Language  Dec 2018  Dec 2019
0                 Java         1       NaN
1                    C         2     100.0
2               Python         3     200.0
3                  C++         4       NaN
4    Visual Basic .NET         5       NaN