# 多级index

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [18]:
# 创建一个两级的 Series
s1 = pd.Series(np.random.randn(6), index=[[1, 1, 1, 2, 2, 2], ['a', 'b', 'c', 'a', 'b', 'c']])
s1

1  a   -0.610026
   b    1.649775
   c    0.835034
2  a    0.899401
   b   -0.685298
   c   -1.846341
dtype: float64

In [26]:
s1[1]

a   -0.610026
b    1.649775
c    0.835034
dtype: float64

In [25]:
s1[1]['a']

-0.6100255133809527

In [16]:
s1[:, 'a']

1    1.042715
2    1.460387
dtype: float64

In [20]:
# 多级 Series 转换为 Da taFrame
df1 = s1.unstack()
df1

          a         b         c
1 -0.610026  1.649775  0.835034
2  0.899401 -0.685298 -1.846341

In [27]:
df2 = pd.DataFrame([s1[1], s1[2]])
df2

          a         b         c
0 -0.610026  1.649775  0.835034
1  0.899401 -0.685298 -1.846341

In [30]:
# DataFrame 转换为多级 Series
s2 = df1.T.unstack()
s2

1  a   -0.610026
   b    1.649775
   c    0.835034
2  a    0.899401
   b   -0.685298
   c   -1.846341
dtype: float64

In [40]:
# 创建多级 index 的 Da taFrame
df = pd.DataFrame(np.arange(16).reshape(4, 4), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=[['bj', 'bj', 'sh', 'gz'], [8, 9, 8, 8]])
df

     bj      sh  gz
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [41]:
df['bj']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [42]:
df['bj'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int64