# 深入理解 Series 和 DataFrame

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# 定义基础数据，后面的实例均基于此基础数据
data = {'Country': ['Belgium', 'India', 'Brazil'], 
       'Capital': ['Brussels', 'New Delhi', 'Brasilia'], 
       'Population': [11190846, 1303171035, 207847528]}

## Sreies

In [7]:
s1 = pd.Series(data['Country'], index=['A', 'B', 'C'])
s1

A    Belgium
B      India
C     Brazil
dtype: object

In [8]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [9]:
s1.index

Index(['A', 'B', 'C'], dtype='object')

## DataFrame

In [10]:
df1 = pd.DataFrame(data)
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [11]:
df1['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [12]:
type(df1['Country'])

pandas.core.series.Series

In [13]:
df1.iterrows()

In [34]:
for row in df1.iterrows():
    print('行：'), print(row), 
    print('行的类型：'), print(type(row)), 
    print('行的长度：'), print(len(row)), 
    print('行的第一部分：'), print(row[0]),  
    print('行的第二部分：'), print(row[1]), 
    print('行的第一部分的类型：'), print(type(row[0])),  
    print('行的第二部分的类型：'), print(type(row[1]))
    break

行：
(0, Country        Belgium
Capital       Brussels
Population    11190846
Name: 0, dtype: object)
行的类型：
<class 'tuple'>
行的长度：
2
行的第一部分：
0
行的第二部分：
Country        Belgium
Capital       Brussels
Population    11190846
Name: 0, dtype: object
行的第一部分的类型：
<class 'int'>
行的第二部分的类型：
<class 'pandas.core.series.Series'>

In [25]:
# 从上面的结果可以看出 DataFrame 的行由 Series 组成，因此可以使用 Series 创建 DataFrame
s1 = pd.Series(data['Capital'])
s2 = pd.Series(data['Country'])
s3 = pd.Series(data['Population'])
df_new = pd.DataFrame([s1, s2, s3], index=['Capital', 'Country', 'Population'])
df_new

                   0           1          2
Capital     Brussels   New Delhi   Brasilia
Country      Belgium       India     Brazil
Population  11190846  1303171035  207847528

In [26]:
df_new = df_new.T

In [27]:
df_new

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528