# Series和DataFrame的排序

In [4]:
import numpy as np
import pandas as pd

## Series 的排序

In [6]:
s1 = pd.Series(np.random.randn(10))

0   -1.366235
1    0.356865
2    0.838722
3    0.958230
4   -0.835506
5   -1.211623
6   -0.733356
7    0.498928
8    0.636980
9    0.806554
dtype: float64

In [13]:
# Series 按 value 升序排序（默认 ascending=True，ascending=False 表示降序排序）
s1.sort_values(ascending=False)

3    0.958230
2    0.838722
9    0.806554
8    0.636980
7    0.498928
1    0.356865
6   -0.733356
4   -0.835506
5   -1.211623
0   -1.366235
dtype: float64

In [14]:
# Series 按 index 升序排序（默认 ascending=True，ascending=False 表示降序排序）
s1.sort_index(ascending=False)

9    0.806554
8    0.636980
7    0.498928
6   -0.733356
5   -1.211623
4   -0.835506
3    0.958230
2    0.838722
1    0.356865
0   -1.366235
dtype: float64

## DataFrame 的排序

In [16]:
df = pd.DataFrame(np.random.randn(15).reshape(3, 5), columns=['A', 'B', 'C', 'D', 'E'])

          A         B         C         D         E
0 -0.241993  1.458471 -0.380640  0.311812 -0.623996
1 -0.733092  0.110076  0.390262  0.464092  0.784914
2  0.352104  0.463340  0.754040  0.176167  0.180370

In [20]:
# DataFrame 以列 'A' 按 value 升序排序（默认 ascending=True，ascending=False 表示降序排序）
df.sort_values('A')

          A         B         C         D         E
1 -0.733092  0.110076  0.390262  0.464092  0.784914
0 -0.241993  1.458471 -0.380640  0.311812 -0.623996
2  0.352104  0.463340  0.754040  0.176167  0.180370

In [ ]:
# DataFrame 按 index 升序排序（默认 ascending=True，ascending=False 表示降序排序）
df.sort_index()