# DataFrame的merge操作

In [1]:
import numpy as np
import pandas as pd

In [10]:
df1 = pd.DataFrame({'Key': ['X', 'Y', 'Z'], 'data_set_1': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['X', 'B', 'C'], 'data_set_2': [4, 5, 6]})

In [11]:
# 合并（类似于 SQL中的 join 操作）参考：https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
pd.merge(df1, df2)

  Key  data_set_1  data_set_2
0   X           1           4
1   X           2           4