# Concatenate 和 Combine

In [1]:
import numpy as np
import pandas as pd

## Concatenate

In [2]:
arr1 = np.arange(9).reshape(3, 3)
arr2 = np.arange(9).reshape(3, 3)
arr2

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [3]:
np.concatenate([arr1, arr2])

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## concat

In [4]:
s1 = pd.Series([1, 2, 3], index=['X', 'Y', 'Z'])
s2 = pd.Series([1, 2], index=['A', 'B'])

In [5]:
pd.concat([s1, s2], axis=1, sort=True)

     0    1
A  NaN  1.0
B  NaN  2.0
X  1.0  NaN
Y  2.0  NaN
Z  3.0  NaN

In [6]:
df1 = pd.DataFrame(np.random.randn(4, 3), columns=['X', 'Y', 'Z'])
df2 =  pd.DataFrame(np.random.randn(3, 3), columns=['X', 'Y', 'A'])

In [7]:
pd.concat([df1, df2],sort=True)

          A         X         Y         Z
0       NaN -1.041826  0.298051 -0.701667
1       NaN  0.188511  0.895930  1.388733
2       NaN  0.897699 -0.696915  0.132036
3       NaN -0.728917 -0.236722  1.331359
0  0.868268  0.170405 -0.517825       NaN
1 -0.697036 -0.717582 -0.138591       NaN
2  1.159773  1.046029 -0.181497       NaN

## Combine

In [8]:
s1 = pd.Series([2, np.nan, 4, np.nan], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C',  'D'])

In [9]:
# 使用 s2 填充 S1
s1.combine_first(s2)

A    2.0
B    2.0
C    4.0
D    4.0
dtype: float64

In [10]:
df1 = pd.DataFrame({
    'x': [1, np.nan, 3, np.nan], 
    'y': [5, np.nan, 7, np.nan], 
    'z': [9, np.nan, 11, np.nan], 
})
df2 = pd.DataFrame({
    'z': [np.nan, 10, np.nan, 12], 
    'a': [1, 2, 3, 4], 
})

In [11]:
df1.combine_first(df2)

     a    x    y     z
0  1.0  1.0  5.0   9.0
1  2.0  NaN  NaN  10.0
2  3.0  3.0  7.0  11.0
3  4.0  NaN  NaN  12.0